<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-kakao-sdk" name="cordova-plugin-kakao-sdk" version="3.0.6">
    <name>KakaoCordovaSDK</name>
    <description>Kakao Cordova SDK Plugin</description>

  <js-module name="KakaoCordovaSDK" src="www/KakaoCordovaSDK.js">
    <clobbers target="KakaoCordovaSDK" />
  </js-module>

  <preference name="KAKAO_APP_KEY" />

  <!--<hook type="after_prepare" src="hooks/postinstall.js" />
  <hook type="after_plugin_add" src="hooks/postinstall.js" />
  <hook type="after_platform_add" src="hooks/postinstall.js" />-->

  <platform name="ios">
    <dependency id="cordova-plugin-add-swift-support" version="2.0.2" />

    <config-file parent="/*" target="config.xml">
      <feature name="KakaoCordovaSDK">
        <param name="ios-package" value="KakaoCordovaSDK" />
        <param name="onload" value="true"/>
      </feature>
    </config-file>

    <config-file target="*-Info.plist" parent="KAKAO_APP_KEY">
      <string>$KAKAO_APP_KEY</string>
    </config-file>
    <config-file target="*-Info.plist" parent="CFBundleURLTypes">
      <array>
        <dict>
          <key>CFBundleURLSchemes</key>
          <array>
            <string>kakao$KAKAO_APP_KEY</string>
          </array>
        </dict>
      </array>
    </config-file>
    <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
      <array>
        <string>kakao$KAKAO_APP_KEY</string>
        <string>kakaokompassauth</string>
        <string>kakaolink</string>
        <string>kakaoplus</string>
        <string>kakaotalk-5.9.7</string>
      </array>
    </config-file>

    <source-file src="src/ios/KakaoCordovaSDK.swift" />

    <podspec>
      <config>
        <source url="https://cdn.cocoapods.org/"/>
      </config>
      <pods use-frameworks="true">
        <pod name="KakaoSDKCommon" spec="2.14.0" />
        <pod name="KakaoSDKAuth" spec="2.14.0" />
        <pod name="KakaoSDKUser" spec="2.14.0" />
        <pod name="KakaoSDKShare" spec="2.14.0" />
        <pod name="KakaoSDKTemplate" spec="2.14.0" />
        <pod name="Alamofire" spec="5.6.4" />
      </pods>
    </podspec>
  </platform>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="KakaoCordovaSDK">
        <param name="onload" value="true" />
        <param name="android-package" value="com.needer.plugin.kakao.KakaoCordovaSDK" />
      </feature>

      <access origin="https://*.kakao.com" />
      <access origin="https://*.kakao.co.kr" />
      <access origin="https://*.kakaocdn.net" />
    </config-file>


    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
      <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <meta-data android:name="com.kakao.sdk.AppKey" android:value="$KAKAO_APP_KEY" />
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity" android:exported="true">
        <intent-filter>
          <action android:name="android.intent.action.VIEW" />
          <category android:name="android.intent.category.DEFAULT" />
          <category android:name="android.intent.category.BROWSABLE" />
          <data android:scheme="kakao$KAKAO_APP_KEY" android:host="oauth" />
        </intent-filter>
      </activity>
    </config-file>

    <framework src="src/android/kakao.gradle" custom="true" type="gradleReference" />
    <source-file src="src/android/KakaoCordovaSDK.kt" target-dir="app/src/main/kotlin/com/needer/plugin/kakao" />
  </platform>
</plugin>